<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CSCI1630-DB" connectionString="Data Source =coursemaster1.csbchotp6tva.us-east.rds.amazonaws.com,1433;Initial Catalog=1630;User ID=rw1630;Password=Project!;"/>
	</connectionStrings>
    <startup> 
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>